
@{
    ViewBag.Title = "UpdateCategoria";
}

@{
    Layout = "~/Views/Shared/_FormCategoriaLayout.cshtml";
}

<input type="hidden" id="id" value="@ViewBag.Id" />

<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
</body>

</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/vendor/formCategoria.js")
}

