
@{
    ViewBag.Title = "Produto";
}

@{
    Layout = "~/Views/Shared/_ProdutoLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
</body>

</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/vendor/produto.js")
    @Scripts.Render("~/vendor/datatables/jquery.dataTables.min.js")
}
