
@{
    ViewBag.Title = "Venda";
}

@{ 
    Layout = "~/Views/Shared/_VendaLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
</body>

</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/vendor/venda.js")
}