
@{
    ViewBag.Title = "_VendaLayout";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Comanda</title>

    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Manual CSS-->
    <link href="~/css/manual.css" rel="stylesheet">

    <link rel="shortcut icon" href="img/ico.svg">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" onclick="menuVenda()">
                <div class="sidebar-brand-icon">
                    <i class="fas fa-utensils"></i>
                </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" onclick="menuVenda()">
                    <i class="fas fa-home"></i>
                    <span>Início</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <li class="nav-item">
                <a class="nav-link" onclick="menuCliente()">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Cliente</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" onclick="menuTurma()">
                    <i class="fas fa-fw fa-users"></i>
                    <span>Turma</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" onclick="menuProduto()">
                    <i class="fas fa-fw fa-box"></i>
                    <span>Produto</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" onclick="menuCategoria()">
                    <i class="fas fa-fw fa-boxes"></i>
                    <span>Categoria</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" onclick="menuSaldo()">
                    <i class="fas fa-dollar-sign"></i>
                    <span>Saldo</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Sair</span>
                </a>
            </li>
            <br>
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav style="margin: 10px">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                </nav>
                <!-- End of Topbar -->
                <div id="corpoPagina">
                    <!-- Page Heading -->
                    <center>
                        <h1 class="h3 mb-2 text-gray-800" id="titleTable">Comanda</h1>
                    </center>
                    <!-- Outer Row -->
                    <div class="row justify-content-center">

                        <div class="col-xl-6 col-lg-6 col-md-9">

                            <div class="card o-hidden border-0 shadow-lg my-5">
                                <div class="card-body p-0">
                                    <!-- Nested Row within Card Body -->
                                    <div class="row">

                                        <div class="col-lg-12">
                                            <center>
                                                <div class="p-5">
                                                    <div class="text-center">
                                                        <h2><i class="fas fa-users"></i></h2>
                                                    </div>
                                                    <form class="user">
                                                        <div class="form-floating"
                                                             style="margin-bottom: 17px; border-radius: 10rem;">
                                                            <select class="form-select" id="ddlTurma"
                                                                    aria-label="Floating label select example">
                                                            </select>
                                                            <label for="floatingSelectGrid">Turma</label>
                                                        </div>
                                                    </form>
                                                </div>
                                            </center>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- Outer Row -->
                    <div class="row justify-content-center">

                        <div class="col-xl-6 col-lg-6 col-md-9">

                            <div class="card o-hidden border-0 shadow-lg my-5">
                                <div class="card-body p-0">
                                    <!-- Nested Row within Card Body -->
                                    <div class="row">

                                        <div class="col-lg-12">
                                            <center>
                                                <div class="p-5">
                                                    <div class="text-center">
                                                        <h2><i class="fas fa-user"></i></h2>
                                                    </div>
                                                    <form class="user">
                                                        <div class="form-floating"
                                                             style="margin-bottom: 17px; border-radius: 10rem;">
                                                            <select class="form-select" id="ddlCliente"
                                                                    aria-label="Floating label select example">
                                                            </select>
                                                            <label for="floatingSelectGrid">Cliente</label>
                                                        </div>
                                                    </form>

                                                </div>
                                            </center>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>


                    <!-- Outer Row -->
                    <div class="row justify-content-center">

                        <div class="col-xl-6 col-lg-6 col-md-9">

                            <div class="card o-hidden border-0 shadow-lg my-5">
                                <div class="card-body p-0">
                                    <!-- Nested Row within Card Body -->
                                    <div class="row">

                                        <div class="col-lg-12">
                                            <center>
                                                <div class="p-5">
                                                    <div class="text-center">
                                                        <h2><i class="fas fa-boxes"></i></h2>
                                                    </div>
                                                    <form class="user">
                                                        <div class="form-floating"
                                                             style="margin-bottom: 17px; border-radius: 10rem;">
                                                            <select class="form-select" id="ddlCategoria"
                                                                    aria-label="Floating label select example">
                                                            </select>
                                                            <label for="floatingSelectGrid">Categoria</label>
                                                        </div>
                                                    </form>
                                                </div>
                                            </center>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- Outer Row -->
                    <div class="row justify-content-center">

                        <div class="col-xl-6 col-lg-6 col-md-9">

                            <div class="card o-hidden border-0 shadow-lg my-5">
                                <div class="card-body p-0">
                                    <!-- Nested Row within Card Body -->
                                    <div class="row">

                                        <div class="col-lg-12">
                                            <center>
                                                <div class="p-5">
                                                    <div class="text-center">
                                                        <h2><i class="fas fa-box"></i></h2>
                                                    </div>
                                                    <br>
                                                    <form class="user">

                                                        <div class="form-floating"
                                                             style="margin-bottom: 17px; border-radius: 10rem;">
                                                            <select class="form-select" id="ddlProduto"
                                                                    aria-label="Floating label select example">
                                                            </select>
                                                            <label for="floatingSelectGrid">Produto</label>
                                                        </div>
                                                        <div class="form-floating"
                                                             style="margin-bottom: 17px; border-radius: 10rem;">
                                                            <select class="form-select" id="ddlValor"
                                                                    aria-label="Floating label select example">
                                                            </select>
                                                            <label for="floatingSelectGrid">Valor</label>
                                                        </div>
                                                        <div class="form-floating">
                                                            <input type="number" min="0" step="1" class="form-control"
                                                                   id="inputQuantidade" />
                                                            <label for="floatingSelectGrid">Quantidade</label>
                                                        </div>
                                                        </br>
                                                        <div class="form-floating">
                                                            <input type="text" class="form-control"
                                                                   id="inputValorTotal" />
                                                            <label for="floatingSelectGrid">Valor Total</label>
                                                        </div>
                                                    </form>
                                                </div>
                                            </center>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- Outer Row -->
                    <div class="row justify-content-center">

                        <div class="col-xl-6 col-lg-6 col-md-9">

                            <div class="card o-hidden border-0 shadow-lg my-5">
                                <div class="card-body p-0">
                                    <!-- Nested Row within Card Body -->
                                    <div class="row">

                                        <div class="col-lg-12">
                                            <center>
                                                <div class="p-5">
                                                    <div class="text-center">
                                                        <h2><i class="fas fa-dollar-sign"></i></h2>
                                                    </div>
                                                    <p>Cliente: <strong id="cliente"</strong></p>
                                                    <p>Total: R$ <strong id="total"</strong></p>
                                                    <br>
                                                    <form class="user">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <a id="btnFinalizar" class="btn btn-success btn-user"
                                                                   style="width: 60%">
                                                                    <i class="fas fa-plus"></i> Finalizar
                                                                </a>
                                                            </div>
                                                            @*<div class="col-6">
                                                                <a id="btnCancelar" class="btn btn-danger btn-user"
                                                                   style="width: 60%">
                                                                    <i class="fas fa-times"></i> Cancelar
                                                                </a>
                                                            </div>*@
                                                        </div>
                                                    </form>

                                                </div>
                                            </center>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>


                </div>
            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Modal Afonso-->
    <div id="myModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Sucesso</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Venda realizada com sucesso!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="menuVenda()">OK</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Deseja sair?</h4>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <center>
                        <h5 style="margin-top: 10px">
                            <i class="fas fa-coffee"></i>
                            <br>
                            Até a próxima!
                        </h5>
                    </center>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" onclick="menuLogin()">Sair</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js/demo/chart-area-demo.js"></script>
    <script src="~/js/demo/chart-pie-demo.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script type="text/javascript">
        var rootPath = '@Url.Content("~/")';
    </script>

    @RenderSection("scripts", required: false)


</body>

<script>
    function menuVenda() {
        window.location.href = rootPath + 'Venda/IndexVenda';
    }
    function menuCliente() {
        window.location.href = rootPath + 'Cliente/IndexCliente';
    }
    function menuTurma() {
        window.location.href = rootPath + 'Turma/IndexTurma';
    }
    function menuProduto() {
        window.location.href = rootPath + 'Produto/IndexProduto';
    }
    function menuCategoria() {
        window.location.href = rootPath + 'Categoria/IndexCategoria';
    }
    function menuSaldo() {
        window.location.href = rootPath + 'Cliente/SaldoCliente';
    }
    function menuLogin() {
        window.location.href = rootPath + 'Login/IndexLogin';
    }
</script>

</html>
